---
layout: base
css:
- pages/index.css
---

<body id="skrollr-body">
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=610602015680966";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <!--   {% include nav.html %} -->

  <section id="splash">
    <div style="transform: translate3d(0,0,0);"></div>
    <div class="container">
      <div id="first-impression" class="row" data-0="transform:translate(0,0%);" data-50p="transform:translate(0,50%);">
        <!-- Logo -->
        <img data-0="transform:translate(0,0%);" data-40p="transform:translate(0,40%);" data-110p="transform:translate(0,280%);"
          id="logo-symbol" class="logo " src="img/logo-bigger.png">
        <img id="logo-letters" class="logo" src="img/logo-letters.png" data-0="opacity:1; transform:translate(0,0%)"
          data-23p="transform:translate(0,20%)" data-25p="opacity:0;">

        <h3 id="tagline" data-0="opacity:1;" data-18p="opacity:0;">CONNECTING STUDENTS AND STARTUPS</h3>
        <p id="event-info" data-0="opacity:1;" data-18p="opacity:0;">September 28, 2019 at Brown University</p>
        <p id="sub-info" data-0="opacity:1;" data-18p="opacity:0;">Registration Closes September 25</p>
        <div data-0="opacity:1;" data-10p="opacity:0;">
          <a id="register-button" class="centered" href="https://brownep.typeform.com/to/mC8qPZ" target="_blank">REGISTER</a>
        </div>
      </div>
    </div>

    <div class="background">
      <div id="top-left-red" class="shape red" data-top="transform:translate(-85%,-10%)rotate(-40deg);" data-top-bottom="transform:translate(-45%,10%)rotate(-50deg);">
      </div>
      <div id="top-right-gold" class="shape gold" data-anchor-target="#splash" data-top="transform:translate(85%,-98%)rotate(-30deg);"
        data-top-bottom="transform:translate(70%,-60%)rotate(5deg);">
      </div>
      <div id="bottom-right-red" class="shape red" data-anchor-target="#splash" data--10-top="transform:translate(75%,-20%)rotate(30deg);"
        data-top-bottom="transform:translate(40%,10%)rotate(30deg);">
      </div>
      <div id="bottom-left-gold" class="shape gold" data-anchor-target="#splash" data-top="transform:translate(-15%,90%)rotate(5deg); opacity:1;"
        data-55p="transform:translate(0,60%)rotate(0deg); opacity:0;">
      </div>
    </div>
  </section>

  <section id="intro">
    <div class="container">
      <div class="row">
        <h2>Connect and work<br> with innovative startups</h2>
        <div class="intro-description">
          <p>Startup@Brown is a day-long conference on Saturday, September 28 at Brown University that brings together
            innovative startups and talented students.</p>
          <p>Come to learn about startups and their stories. Leave with a new perspective and your next summer
            internship or full-time job.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="speakers">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
      viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="speakers-header ">
          <h2>Speakers</h2>
          <p>This year features a series of talks by trailblazing founders, entrepreneurs, and venture capitalists.</p>
          <!-- <p><strong>This year's lineup coming soon.</strong></p> -->
        </div>
      </div>
    </div>
    <ul class="thumbnails">
      <li id="jessica">
        <div class="speaker-label">
          <p class="speaker-name">Lisa Gelobter</p>
          <p class="speaker-description">CEO and Co-founder of tEQuitable</p>
        </div>
      </li>
      <li id="arnell">
        <div class="speaker-label">
          <p class="speaker-name">Paul Krasinski</p>
          <p class="speaker-description">CEO, Founder of Epicenter Experience</p>
        </div>
      </li>

    </ul>
    <svg class="slant redslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
      viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
  </section>
  <section id="items" width="100%">
    <svg class="slant redslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102"
      preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <svg class="slant whiteslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
      viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
    <div id="items-container">
      <div id="startup-fair" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Startup Fair</p>
          <p class="speaker-description">Walk around, meet with startups and learn about their work, challenges, and
            career opportunities.</p>
        </div>
      </div>
      <div id="small-conversations" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Student Startup Panel</p>
          <p class="speaker-description">Listen to the stories of your peers working on their own startups!</p>
        </div>
      </div>
      <div id="workshops" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Workshops</p>
          <p class="speaker-description">Learn about everything from scaling your tech stack to starting a company as a
            student.</p>
        </div>
      </div>
    </div>
  </section>



  <section id="sponsors">
    <div class="container">
      <div class="row">
        <h2>Participating Companies</h2>
        <p>Meet the amazing startups and VC firms<br> supporting Startup@Brown 2019.</p>

        <div class="company-row -main">
          <a href="https://www.facebook.com" target="_blank"><img title="Insight Venture Partners" id="ivp" src="img/companies/facebook-logo-1.png"
              class="img-responsive"></img></a>
        <a href="https://www.optoro.com" target=" _blank">
          <img title="Optoro" id="optoro" src="img/companies/18/Optoro (black).png" class="img-responsive" />
        </a>
        </div>

        <div class="company-row">
          <a href="https://vitaeindustries.com" target="_blank"><img title="Upserve" id="upserve" src="img/companies/vitae.png"
              class="img-responsive"></img></a>
              <a href="https://contrarycap.com" target=" _blank">
                <img title="Contrary Captial" id="concap" src="img/companies/18/contrarycapital.png" class="img-responsive" />
              </a>
              <a href="https://www.ripvan.com" target=" _blank">
                <img title="Contrary Captial" id="concap" src="img/companies/ripvan.png" class="img-responsive" />
              </a>
         
        </div>

        <!-- <div class="company-row">
          <a href="http://pangeamart.com" target="_blank"><img title="Pangea" id="pangea" src="img/companies/pangea.png"
              class="img-responsive"></img></a>
          <a href="http://getspeechify.com" target="_blank"><img title="Speechify" id="speechify " src="img/companies/speechify.png"
              class="img-responsive"></img></a>
          <a href="http://everywear.com" target="_blank"><img title="Everywear" id="everywear " src="img/companies/18/everywear.png"
              class="img-responsive"></img></a>

        </div>

        <div class="company-row">
          <a href="http://bestpracticeenergy.com" target=" _blank"><img title="Best Practice Energy" id="bpe" src="img/companies/18/bestpracticeenergy.png"
              class="img-responsive"></img></a>
          <a href="http://deliverydudes.com" target=" _blank">
            <img title="Delivery Dudes" id="deliverydudes" src="img/companies/18/deliverydudes.jpg" class="img-responsive" />
          </a>

        </div>


        <div class="company-row">
         
          <a href="http://superbrew.com" target=" _blank">
            <img title="SuperBrew" id="superbrew" src="img/companies/18/superbrew.png" class="img-responsive" />
          </a>
          <a href="https://www.scalevp.com" target=" _blank">
            <img title="Scale Venture partners" id="svp" src="img/companies/18/scale-venture-partners-logo.svg" class="img-responsive" />
          </a>
        </div>


        <div class="company-row">
          <a href="https://www.textup.org" target="_blank"><img title="TextUp" id="textup" src="img/companies/18/++TextUp (1).png"
              class="img-responsive"></img></a>
          <a href="#" target=" _blank"><img title="WeKey" id="wekey" src="img/companies/18/wekey.png" class="img-responsive"></img></a>
          <a href="https://www.snackpass.co" target=" _blank"><img title="Snackpass" id="snackpass" src="img/companies/18/snackpass.png"
              class="img-responsive"></img></a>

        </div>

        <div class="company-row">
          <a href="http://www.thetripbuddyapp.com" target=" _blank"><img title="TripBuddy" id="tripbuddy" src="img/companies/18/tripbuddy.png"
              class="img-responsive"></img></a>
          <a href="#" target=" _blank"><img title="Impact Labs" id="ilab" src="img/companies/18/ilab.png" class="img-responsive"></img></a>
          <a href="#" target=" _blank"><img title="Worksense" id="worksense" src="img/companies/18/worksense_logo.png"
              class="img-responsive"></img></a>



        </div> -->




        <!-- <div class="company-row">
         <a href="http://wayup.com" target="_blank"><img id="wayup" src="img/companies/wayup.png" class="img-responsive"></img></a>
         <a href="http://www.parkwithspotter.com/" target="_blank"><img id="spotter" src="img/companies/spotter_logo.jpg" class="img-responsive"></img></a>

          <a href="http://digitalocean.com" target="_blank"><img id="digitalOcean" src="img/companies/digitalOcean.svg" class="img-responsive"></img></a>
        </div> -->


      </div>

      <!-- <div class="row"> -->
        <!-- <h1 class="sponsors-question secondary">Interested in sponsoring for 2019?</h1> -->
        <!-- <p> -->
          <!-- <a href="/participate" target="_blank">Learn more about sponsoring</a>, or get in touch at -->
          <!-- <a href="mailto:manuel_gorotiza@brown.edu" class="secondary">manuel_gorotiza@brown.edu</a> -->
          <!-- <br><span class="sponsors-subtext">You'll reach Manny Gorotiza, lead organizer.</span></p> -->
      <!-- </div> -->
    </div>
  </section>

  <section id="schedule">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
      viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>

    <!-- <div class="container">
      <div class="row">
        <div class="header">
          <h2>2019 Schedule</h2>
          <p>We have some great programming lined up this year. Stay tuned for updates.</p>
        </div>
        <div class="timeline">
          <div id="saturday" class="tl-day">
            <h3>Saturday, September 28</h3>
            <ul>
              <li>
                <span class="tl-time">10:00 AM</span>
                <span class="tl-title">Startup Fair &amp; Breakfast</span>
              </li>
              <li>
                <span class="tl-time">12:00 PM</span>
                <span class="tl-title">Opening Keynote</span>
              </li>
              <li>
                <span class="tl-time">12:30 PM</span>
                <span class="tl-title">Lunch</span>
              </li>
              <li>
                <span class="tl-time">1:30 PM</span>
                <span class="tl-title">Workshops Session I</span>
              </li>
              <li>
                <span class="tl-time">2:30 PM</span>
                <span class="tl-title">Workshops Session II</span>
              </li>
              <li>
                <span class="tl-time">3:30 PM</span>
                <span class="tl-title">Student Startups Panel</span>
              </li>
              <li>
                <span class="tl-time">4:30 PM</span>
                <span class="tl-title">Closing Keynote</span>
              </li>
            </ul>
          </div>

        
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <div class="arrow-right" data-start="transform:translate(0%,-250%)" data-end="transform:translate(0%, 0%)"></div>
    <div class="arrow-right arrow-large" data-start="transform:translate(0%,-120%)" data-end="transform:translate(0%,80%)"></div>
  </section>

   <section id="workshops-section">
    <svg class="slant redslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102"
      preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div id="faq-questions" class="col-sm-4">
          <h2>Workshops</h2>
          <p>Learn from leaders, engineers, and designers in the startup world.</p>
        </div>

        <div class="col-sm-7">


          <h3>Student Entrepreneur Panel</h3>
          <p>Auriel Wright, Robbie Felton, Karina Bao, Emma Butler</p>

          <h3>Using Collaborative Education to Transform America</h3>
          <p>Jarrell Daniels, Margaret Hartigan, Lovestar Rogers, Tyler Campbell</p>

          <h3>Why Smart Entrepreneurs Are Crowdfunding</h3>
          <p>Olivia Owens, Business Development & Partnerships Manager at iFundWomen</p>

          <h3>Facebook Connectivity - Bringing more people online to a faster internet</h3>
          <p>Bill Wang, Software Engineer at Facebook</p>

          <h3>C-Corporations, B-Corporations, and Non-Profits: Which One Is Right for My Venture?</h3>
          <p>Stephanie Singer, Corporate Attorney</p>

          <h3>Ripple Effects: Harnessing Tech for Social Change</h3>
          <p>Viraj Sikand and Adam Vitarello</p>

          <h3>Business Development and Partnership Strategies</h3>
          <p>Marianna Zaslavsky, Founder & CEO of Norka Health</p>

          <h3>The Entrepreneurial Mindset</h3>
          <p>Saskia Sorrosa, Founder of Fresh Bellies</p>

        </div>
      </div>
    </div>
  </section> 

  <section id="faq">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
      viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div id="faq-questions" class="col-sm-7">
          <h2>FAQs</h2>
          <h3>Who can attend Startup@Brown?</h3>
          <p>All Brown and RISD undergraduate and graduate students are welcome to apply. </p>
          <p>Student Startups from other colleges are welcome too. Follow our facebook page to stay tuned for student
            startup applications.</p>
          
          <h3>What will the event be like?</h3>
          <p>Startup@Brown is a day-long event where you’ll have the chance to interact closely with startup founders,
            many of them alumni.</p>
          <p>The event will start with a fair, introducing you to startups, and then split into small-group
            conversations and workshops like “What is Product Management” to “Exploring Accelerators.” Meet with
            engineers and designers, discuss the technical problems they’re trying to solve, and maybe they'll interest
            you enough for an internship or job :).</p>
          <!-- <h3>How do I apply?</h3>
          <p>Registrations open soon, stay tuned!</p> -->
          <!--<p>Register for Startup@Brown 2017 </p>-->
          <h3>When will I find out if I'm accepted?</h3>
          <p>We'd love if everyone could attend, but we usually receive way more interest than the space available.
            </p>
        </div>

        <!-- <div id="questions-contact" class="col-sm-4">
          <p id="questions"><b>QUESTIONS?</b></p>
          <a class="aside-email" href="mailto:hello@startupatbrown.org">hello@startupatbrown.org</a><br>
          <small>You'll reach Manny Gorotiza.</small>
        </div>
      </div> -->
    </div>
  </section>

  <section id="map">
    <svg class="slant grayslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102"
      preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z"></path>
    </svg>
    <svg class="slant whiteslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
      viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="location-box">
          <a href="https://goo.gl/maps/JdtT6" target="_blank"><i class="fa fa-location-arrow fa-2x"></i></a>
          <h3>Solomon Hall</h3>
          <p>81 Waterman St., Providence, RI 02912</p>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.9403349418553!2d-71.40211339999999!3d41.829582900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e445230eba9fed%3A0x40de006467cd1fd2!2sAlumnae+Hall!5e0!3m2!1sen!2sus!4v1440657639294"
      width="100%" height="650px" frameborder="30px" style="border:0; pointer-events: none;" allowfullscreen></iframe>
  </section>

  <section id="register">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Register</h2>
          <p class="large">Meet amazing startups and find your next internship or full-time job.</p>
          <a href="https://brownep.typeform.com/to/mC8qPZ" id="bottom-register-button" class="btn btn-primary">Register
            Here</a>
          <!-- <p>Or <a href="/volunteer" class="secondary">sign up to be a volunteer.</a></p> -->
        </div>
      </div>
    </div>
  </section>

  <section id="share">
    <div class="container">
      <div class="fb-like" data-href="https://facebook.com/startupatbrown" data-width="300px" data-layout="standard"
        data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </section>

  {% include footer.html %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- JavaScript -->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/skrollr.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/home.js"></script>

  <script src="/js/jquery.scrolldepth.min.js"></script>
  <script>
    jQuery(function () {
      jQuery.scrollDepth();
    });
  </script>


</body>